# ⚠️ Les variables d'accès à la base de données (ex: DATABASE_URL, POSTGRES_USER, etc.)
# sont injectées automatiquement dans le container Docker via le fichier .database.env à la racine du projet.
# Il n'est pas nécessaire de les définir ici si vous utilisez Docker Compose.
# HTTP server
PORT=3000

# Secret pour JWT (JSON Web Tokens) signe les tokens d'authentification.
JWT_SECRET=mon_token_super_secret

# CORS allowlist (CSV)
# Origins autorisés pour l'API (DEV/TEST)
# En DEV : front Vite local uniquement (localhost:5173) en dev --profile prod (http://localhost -> nginx port 80) et en prod sur la VM cloud (http://www.votre-domaine.com)
CORS_ORIGINS=http://localhost:5173,http://localhost
# En PROD : remplacez par votre domaine front (et éventuellement un hébergeur type surge.sh)
# Exemple :
# CORS_ORIGINS=https://www.votre-domaine.com,https://your-prod.surge.sh
