# HTTP server
PORT=3000

# Postgres URL
DATABASE_URL=postgres://gamer:gamer@db:5432/gamer

JWT_SECRET=mon_token_super_secret

# CORS allowlist (CSV)
# Origins autorisés pour l'API (DEV/TEST)
# En DEV : front Vite local uniquement (localhost:5173) en dev --profile prod (http://localhost -> nginx port 80) et en prod sur la VM cloud (http://www.votre-domaine.com)
CORS_ORIGINS=http://localhost:5173,http://localhost
# En PROD : remplacez par votre domaine front (et éventuellement un hébergeur type surge.sh)
# Exemple :
# CORS_ORIGINS=https://www.votre-domaine.com,https://your-prod.surge.sh

